<div class="container">
  <div class="align-items-center text-center container-home">
    <img class="col-4 mb-5" src="../assets/img/home_celular.png" />
    <h1 class="text-center">Nome do APP</h1>
  </div>

  <h2 id="projeto">Quem queremos ajudar</h2>
  <p>
    Ajudar Mulheres que estão atuando na informalidade, principalmente que estão
    com o nome restrito, e com isso não podem ter opções de formas de pagamento
    para seus clientes.
  </p>

  <h2 id="solucoes">
    Criar um APP com as seguintes soluções:
  </h2>

  <p>
    1 - Centralização de pagamento Online: Depósito Pagamento via Crédito e
    débito.
  </p>

  <p>
    2 - Calculadora de gastos onde a usuário coloca: Matéria prima, Valor de
    venda e calcula tributos a serem pagos = Tem uma estimativa de valor de
    Lucro.
  </p>

  <p>
    3 - Barra de Progresso (Gamification) onde é colocado um valor de Meta para
    o pagamento, inicialmente, de sua dívida para limpar o nome, e após, metas
    pessoais e até mesmo do seu negócio.
  </p>

  <p>
    4 - Centralização de conteúdo online sobre educação financeira já existente,
    como SEBRAE, Blogs gerais de finanças.
  </p>

  <p>
    5- Assistente virtual (Chatbot) para facilitar acesso a informações do
    conteúdo de Educação financeira.
  </p>

  <h2 id="personas">Persona:</h2>
  <p>
    Mulheres microempreendedoras/Nomes restritos/Baixo Score
  </p>

  <h2 id="parcerias">
    Parcerias:
  </h2>
  <p>
    Com Bancos para quando essas mulheres, quando quiserem sacar o valor
    depositado, gere uma ordem de pagamento para a retirada.
  </p>
  <p>Além, nessa parceria captar possíveis fornecimentos de microcréditos.</p>

  <h2 id="beneficios">Benefícios:</h2>
  <p>
    Dar opção de pagamento para os clientes dessa microempreendedora, e com isso
    gerando mais vendas;
  </p>
  <p>
    Aumento de Score para que ela seja bem vista na "praça" (Microcrédito x
    Financiamentos x Cartão de Crédito Pessoal);
  </p>
  <p>
    Acesso ao conteúdo online centralizado com base orientação financeira;
  </p>
  <p>
    Visualização simplificada do Lucro com os gastos com a matéria prima e
    Tributos.
  </p>
  <h2 id="tecnologia">Soluções tecnológicas:</h2>
  <p>
    Um app feita na interface em React Native e utilizando back end Django
    (Python);
  </p>
  <p>
    Captação dos dados inseridos na plataforma mobile realizado via Google
    Analytics;
  </p>
  <p>
    Utilização API de pagamentos (Recebimento dos clientes);
  </p>
  <p>
    Para pagamentos, utilizar recurso de leitor de código de barras (Usando o
    saldo do APP);
  </p>
  <p>
    Chatbot será realizado com a tecnologia Watson (IBM);
  </p>
</div>
