<div class="container">
  <div class="align-items-center text-center container-home">
    <img class="col-6 mb-5" src="../assets/img/home_celular.png" />
    <h1 class="text-center mb-5">LadyCred</h1>
  </div>

  <h2 class="mt-3" id="projeto">Quem queremos ajudar</h2>
  <p>
    Ajudar Mulheres que estão atuando na informalidade, principalmente que estão
    com o nome restrito, e com isso não podem ter opções de formas de pagamento
    para seus clientes.
  </p>

  <h2 id="solucoes">
    Criar um APP com as seguintes soluções:
  </h2>

  <p>
    1 - Centralização de pagamento Online: Depósito Pagamento via Crédito e
    débito.
  </p>

  <p>
    2 - Calculadora de gastos onde a usuário coloca: Matéria prima, Valor de
    venda e calcula tributos a serem pagos = Tem uma estimativa de valor de
    Lucro.
  </p>

  <p>
    3 - Barra de Progresso (Gamification) onde é colocado um valor de Meta para
    o pagamento, inicialmente, de sua dívida para limpar o nome, e após, metas
    pessoais e até mesmo do seu negócio.
  </p>

  <p>
    4 - Centralização de conteúdo online sobre educação financeira já existente,
    como SEBRAE, Blogs gerais de finanças.
  </p>

  <p>
    5- Assistente virtual (Chatbot) para facilitar acesso a informações do
    conteúdo de Educação financeira.
  </p>

  <h2 id="prototipo">Protótipo</h2>

  <p>AQUI VAI FICAR O GIF DO PROTÓTIPO DO APP</p>

  <h2 id="personas">Persona:</h2>

  <div class="card">
    <div class="card-body persona text-center">
      <img src="../../assets/img/persona1.png" alt="Arquivo da Persona 1" />
      <img src="../../assets/img/persona2.png" alt="Arquivo da Persona 2" />
      <div class="link-personas">
        <hr />
        <a
          href="https://drive.google.com/file/d/1UDMcAZWXrXQIc4W9Xlk300lV1i5t784e/view?usp=sharing"
          target="_blank"
          rel="noopener noreferrer"
          >Arquivo PDF Cristina</a
        ><br />
        <a
          href="https://drive.google.com/file/d/1GmgQcqLhSth3dlilG_eODNGFSF8HPuLl/view?usp=sharing"
          target="_blank"
          rel="noopener noreferrer"
          >Arquivo PDF Cristina</a
        >
      </div>
    </div>
  </div>

  <h2 id="parcerias">
    Parcerias:
  </h2>
  <p>
    Com Bancos para quando essas mulheres, quando quiserem sacar o valor
    depositado, gere uma ordem de pagamento para a retirada.
  </p>
  <p>Além, nessa parceria captar possíveis fornecimentos de microcréditos.</p>

  <h2 id="beneficios">Benefícios:</h2>
  <p>
    Dar opção de pagamento para os clientes dessa microempreendedora, e com isso
    gerando mais vendas;
  </p>
  <p>
    Aumento de Score para que ela seja bem vista na "praça" (Microcrédito x
    Financiamentos x Cartão de Crédito Pessoal);
  </p>
  <p>
    Acesso ao conteúdo online centralizado com base orientação financeira;
  </p>
  <p>
    Visualização simplificada do Lucro com os gastos com a matéria prima e
    Tributos.
  </p>
  <h2 id="tecnologia">Soluções tecnológicas:</h2>
  <p>
    Um app feita na interface em React Native e utilizando back end Django
    (Python);
  </p>
  <p>
    Captação dos dados inseridos na plataforma mobile realizado via Google
    Analytics;
  </p>
  <p>
    Utilização API de pagamentos (Recebimento dos clientes);
  </p>
  <p>
    Para pagamentos, utilizar recurso de leitor de código de barras (Usando o
    saldo do APP);
  </p>
  <p>
    Chatbot será realizado com a tecnologia Watson (IBM);
  </p>
  <div class="card">
    <div class="card-body">
      <p>Links de Referência:</p>
      <img src="../../assets/img/arrow.svg" alt="Seta" /><a
        href="https://istoe.com.br/caixa-contas-de-nao-bancarizados-por-auxilio-devem-alcancar-entre-23-mi-e-24-mi/"
        target="_blank"
        rel="noopener noreferrer"
      >
        23-24 milhões de brasileiros não bancarizados </a
      ><br />
      <img src="../../assets/img/arrow.svg" alt="Seta" /><a
        href="https://www.ibge.gov.br/novo-portal-destaques/27161-censo-2020-adiado-para-2021.html"
        target="_blank"
        rel="noopener noreferrer"
        >Censo 2020 foi adiado para 2021</a
      ><br />
      <img src="../../assets/img/arrow.svg" alt="Seta" /><a
        href="https://www.serasa.com.br/ensina/seu-credito/o-que-e-microcredito/?gclid=Cj0KCQjwhIP6BRCMARIsALu9LfmFMJlBntolBKNH2L0pNzIvBZzseYTCsUZww_24AO6Ddap1y7XiRAYaAsIUEALw_wcB"
        target="_blank"
        rel="noopener noreferrer"
        >O que é Microcrédito?</a
      ><br />
      <img src="../../assets/img/arrow.svg" alt="Seta" /><a
        href="https://emconta.sebrae.com.br/?utm_source=portal_sebrae&utm_medium=banner&utm_campaign=servicos_digitais"
        target="_blank"
        rel="noopener noreferrer"
        >EmConta - SEBRAE</a
      ><br />
      <img src="../../assets/img/arrow.svg" alt="Seta" /><a
        href="https://razoesparaacreditar.com/familia-auxilio-emergencial-negocio-quentinha/"
        target="_blank"
        rel="noopener noreferrer"
        >Família usa dinheiro do Auxílio Emergencial para iniciar negócio de
        quentinha e hoje fatura R$ 6 mil por mês </a
      ><br />
      <hr />
      <div class="card-body text-center">
        <img src="../../assets/img/doc.svg" alt="Icon download do documento" />
        <a
          href="https://docs.google.com/presentation/d/1Cb9UyOVFGtBt5vteb_8fdk9GyVr8ZMfxPhFHpaDGzCo/edit#slide=id.g9467d6e33d_0_47"
          target="_blank"
          rel="noopener noreferrer"
          >Link da Apresentação
        </a>
      </div>
    </div>
  </div>
</div>
