<div class="container">
  <div class="align-items-center text-center container-home">
    <img class="col-6 mb-5" src="../assets/img/home_celular.png" />
    <h1 class="text-center mb-5">LadyCred</h1>
  </div>

  <h2 class="mt-3" id="projeto">Quem queremos ajudar</h2>
  <p>
    Ajudar Mulheres que estão atuando na informalidade, principalmente que estão
    com o nome restrito, e com isso não podem ter opções de formas de pagamento
    para seus clientes.
  </p>

  <h2 id="solucoes">Criar um APP com as seguintes soluções:</h2>

  <p>
    1 - Centralização de pagamento Online: Depósito Pagamento via Crédito e
    débito.
  </p>

  <p>
    2 - Calculadora de gastos onde a usuário coloca: Matéria prima, Valor de
    venda e calcula tributos a serem pagos = Tem uma estimativa de valor de
    Lucro.
  </p>

  <p>
    3 - Barra de Progresso (Gamification) onde é colocado um valor de Meta para
    o pagamento, inicialmente, de sua dívida para limpar o nome, e após, metas
    pessoais e até mesmo do seu negócio.
  </p>

  <p>
    4 - Centralização de conteúdo online sobre educação financeira já existente,
    como SEBRAE, Blogs gerais de finanças.
  </p>

  <p>
    5- Assistente virtual (Chatbot) para facilitar acesso a informações do
    conteúdo de Educação financeira.
  </p>

  <h2 id="parcerias">Parcerias:</h2>
  <p>
    Com Instituições Financeiras para quando essas mulheres, quiserem sacar o
    valor depositado, gere uma ordem de pagamento para a retirada.
  </p>
  <p>Além, nessa parceria captar possíveis fornecimentos de microcréditos.</p>

  <h2 id="beneficios">Benefícios:</h2>
  <p>
    Dar opção de pagamento para os clientes dessa microempreendedora, gerar mais
    vendas;
  </p>
  <p>
    Aumento de Score para que ela seja bem vista na "praça" (Microcrédito x
    Financiamentos x Cartão de Crédito Pessoal);
  </p>
  <p>Acesso ao conteúdo online centralizado com base orientação financeira;</p>
  <p>
    Visualização simplificada do Lucro: cálculo dos gastos com a matéria prima e
    Tributos.
  </p>
  <h2 id="tecnologia">Soluções tecnológicas:</h2>
  <p>
    Um app feita na interface em React Native e utilizando back end Django
    (Python);
  </p>
  <p>
    Captação dos dados inseridos na plataforma mobile realizado via Google
    Analytics;
  </p>
  <p>
    Utilização API de pagamentos (Recebimento dos clientes e de transações
    pessoais);
  </p>
  <p>
    Utilização de API fornecido pelo parceiro Serasa, para consulta direta no
    APP do Score.
  </p>
  <p>
    Para pagamentos, utilizar recurso de leitor de código de barras (Usando o
    saldo do APP);
  </p>
  <p>Chatbot será realizado com a tecnologia Watson (IBM);</p>
  <h2 id="monetizacao">Monetização:</h2>
  <p>Planos de Pacotes de Serviços:</p>
  <ul>
    <li>Plano Free</li>
    <li>Plano Prata</li>
    <li>Plano Ouro</li>
  </ul>
  <p>Incentivo: A cada indicação de novos usuários, ganha R$10,00 no saldo.</p>

  <h2 id="usabilidade">Usabilidade e Funcionamento:</h2>
  <p>
    O <b>LadyCred</b> é um aplicativo criado com intuito de ser simples e
    prático em sua utilização, fornecendo uma boa navegação e experiência ao
    usuário.
  </p>
  <p>
    Foi utilizado para criação do app a avaliação Heurística de Nielsen, e foi
    baseada em alguns diretrizes que falaremos abaixo.
  </p>
  <p>
    <b>Correspondência entre sistema e mundo real:</b>
    O app foi criado com estrutura textual, ícones e imagens acessíveis e de
    fácil entendimento ao usuário.
  </p>
  <p>
    <b>Liberdade e controle do usuário:</b>
    Em todas as telas foi criado um botão de voltar para o início, a fim de
    cancelar uma ação que ele escolheu por engano, dando a ele liberdade em
    cancelar o processo a qualquer momento.
  </p>
  <p>
    <b> Consistência e padrões: </b>
    A interface do app contém ícones padronizados para que o usuário não tenha
    que adivinhar se as palavras e ações significam coisas diferentes.
  </p>
  <p>
    <b> Reconhecer ao invés de lembrar: </b>
    No app a carga de memorização de telas do app é desnecessária pois todos os
    ícones e opções são direcionais à sua necessidade.
  </p>
  <p>
    <b>Flexibilidade e Eficiência: </b>
    A interface do app atende tanto usuários experientes, quanto os
    inexperientes, pois as informações estão dispostas de maneira simples.
  </p>
  <p>
    <b>Estética e Design:</b>
    Evitamos o uso desnecessário e irrelevante de elementos visuais que possam
    confundir o usuário.
  </p>

  <p class="subtitle"><b>Funcionamento:</b></p>
  <p>
    <b>Login:</b> É necessário que o usuário crie um usuário e senha para ter
    acesso as configurações da conta.
  </p>
  <p>
    <b>Tela Inicial: </b>Na tela inicial tem as informações de saldo, e ícones
    que direcionam às transações e informações abaixo:
  </p>

  <ul>
    <li>
      <u>Recebimento:</u> Gera boletos para serem enviados ao pagador ou exibe
      os dados para ser efetuado transferência para a conta.
    </li>
    <li>
      <u>Pagamento:</u> Também gera boletos para que o usuário pague suas
      compras ou efetue a transferência para outra conta.
    </li>
    <li>
      <u>Saque:</u> Emite uma ordem de pagamento para que o usuário vá até uma
      agência do banco e efetue o saque.
    </li>
    <li>
      <u> Metas:</u> Nessa tela o usuário terá acesso a uma barra indicando
      quanto falta para ele cumprir a sua meta, que inicialmente será para
      quitação da negativação em seu nome.
    </li>
    <li>
      <u>Dicas:</u> Nessa opção o usuário poderá acessar o menu onde são
      disponibilizados links de conteúdo já existentes sobre educação
      financeira.
    </li>
    <li>
      <u>Calculadora:</u> Tela onde o usuário poderá inserir o valor gasto com
      os produtos x valor de venda e assim o lucro que terá já com a inclusão
      dos tributos.
    </li>
    <li>
      <u>Chatbot:</u> Em todas as telas o usuário terá um botão de consultar as
      dicas de conteúdos de educação financeira.
    </li>
  </ul>

  <h2 class="mb-3" id="prototipo">Protótipo</h2>
  <div class="text-center mb-5">
    <iframe
      style="border: 1px solid rgba(0, 0, 0, 0.1)"
      width="350"
      height="800"
      src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FTZ6KgtKTeZMfdw5dV6m3CR%2FSerasa%3Fnode-id%3D47%253A298%26scaling%3Dmin-zoom&chrome=DOCUMENTATION"
      allowfullscreen
    ></iframe>
  </div>

  <h2 id="personas">Persona:</h2>

  <div class="card mb-5">
    <div class="card-body persona text-center">
      <img src="../../assets/img/persona1.png" alt="Arquivo da Persona 1" />
      <img src="../../assets/img/persona2.png" alt="Arquivo da Persona 2" />
      <div class="link-personas">
        <hr />
        <a
          href="https://drive.google.com/file/d/1UDMcAZWXrXQIc4W9Xlk300lV1i5t784e/view?usp=sharing"
          target="_blank"
          rel="noopener noreferrer"
          >Arquivo PDF Cristina</a
        ><br />
        <a
          href="https://drive.google.com/file/d/1GmgQcqLhSth3dlilG_eODNGFSF8HPuLl/view?usp=sharing"
          target="_blank"
          rel="noopener noreferrer"
          >Arquivo PDF Cristina</a
        >
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <p>Links de Referência:</p>
      <img src="../../assets/img/arrow.svg" alt="Seta" /><a
        href="https://istoe.com.br/caixa-contas-de-nao-bancarizados-por-auxilio-devem-alcancar-entre-23-mi-e-24-mi/"
        target="_blank"
        rel="noopener noreferrer"
      >
        23-24 milhões de brasileiros não bancarizados </a
      ><br />
      <img src="../../assets/img/arrow.svg" alt="Seta" /><a
        href="https://www.ibge.gov.br/novo-portal-destaques/27161-censo-2020-adiado-para-2021.html"
        target="_blank"
        rel="noopener noreferrer"
        >Censo 2020 foi adiado para 2021</a
      ><br />
      <img src="../../assets/img/arrow.svg" alt="Seta" /><a
        href="https://www.serasa.com.br/ensina/seu-credito/o-que-e-microcredito/?gclid=Cj0KCQjwhIP6BRCMARIsALu9LfmFMJlBntolBKNH2L0pNzIvBZzseYTCsUZww_24AO6Ddap1y7XiRAYaAsIUEALw_wcB"
        target="_blank"
        rel="noopener noreferrer"
        >O que é Microcrédito?</a
      ><br />
      <img src="../../assets/img/arrow.svg" alt="Seta" /><a
        href="https://emconta.sebrae.com.br/?utm_source=portal_sebrae&utm_medium=banner&utm_campaign=servicos_digitais"
        target="_blank"
        rel="noopener noreferrer"
        >EmConta - SEBRAE</a
      ><br />
      <img src="../../assets/img/arrow.svg" alt="Seta" /><a
        href="https://razoesparaacreditar.com/familia-auxilio-emergencial-negocio-quentinha/"
        target="_blank"
        rel="noopener noreferrer"
        >Família usa dinheiro do Auxílio Emergencial para iniciar negócio de
        quentinha e hoje fatura R$ 6 mil por mês </a
      ><br />
      <hr />
      <div class="card-body text-center">
        <img src="../../assets/img/doc.svg" alt="Icon download do documento" />
        <a
          href="https://docs.google.com/presentation/d/1Cb9UyOVFGtBt5vteb_8fdk9GyVr8ZMfxPhFHpaDGzCo/edit#slide=id.g9467d6e33d_0_47"
          target="_blank"
          rel="noopener noreferrer"
          >Link da Apresentação
        </a>
      </div>
    </div>
  </div>
</div>
