<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-center"
    id="navbarNavAltMarkup"
  >
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#projeto">O Projeto</a>
      <a class="nav-item nav-link" href="#solucoes">Soluções </a>
      <a class="nav-item nav-link" href="#parcerias">Parcerias</a>
      <a class="nav-item nav-link" href="#beneficios">Benefícios</a>
      <a class="nav-item nav-link" href="#tecnologia">Tecnologias</a>
      <a class="nav-item nav-link" href="#monetizacao">Monetização</a>
      <a class="nav-item nav-link" href="#prototipo">Protótipo</a>
      <a class="nav-item nav-link" href="#personas">Personas</a>
      <button
        type="button"
        class="btn"
        data-toggle="modal"
        data-target="#exampleModalCenter"
      >
        Quem Somos
      </button>
      <div
        class="modal fade"
        id="exampleModalCenter"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">
                Contatos
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img src="../../assets/img/arrow.svg" alt="Seta" />
              <a
                href="https://www.linkedin.com/in/melanie-miranda/"
                target="_blank"
                rel="noopener noreferrer"
                >Melanie Miranda
              </a>
            </div>
            <div class="modal-body">
              <img src="../../assets/img/arrow.svg" alt="Seta" />
              <a
                href="https://www.linkedin.com/in/fernandadegolin/"
                target="_blank"
                rel="noopener noreferrer"
                >Fernanda Degolin
              </a>
            </div>
            <div class="modal-body">
              <img src="../../assets/img/arrow.svg" alt="Seta" />
              <a
                href="https://www.linkedin.com/in/mayane-chaves-53b69827/"
                target="_blank"
                rel="noopener noreferrer"
                >Mayane Chaves
              </a>
            </div>
            <div class="modal-body">
              <img src="../../assets/img/arrow.svg" alt="Seta" />
              <a
                href="https://www.linkedin.com/in/renata-polastrelli/"
                target="_blank"
                rel="noopener noreferrer"
                >Renata Polastrelli
              </a>
            </div>
            <div class="modal-body">
              <img src="../../assets/img/arrow.svg" alt="Seta" />
              <a
                href="https://www.linkedin.com/in/jemimatheus/"
                target="_blank"
                rel="noopener noreferrer"
              >
                Jemima Matheus
              </a>
            </div>
            <div class="modal-body">
              <img src="../../assets/img/arrow.svg" alt="Seta" />
              <a
                href="https://www.linkedin.com/in/amanda-caroline-2a53468a/"
                target="_blank"
                rel="noopener noreferrer"
              >
                Amanda Caroline
              </a>
            </div>
            <div class="modal-body">
              <img src="../../assets/img/arrow.svg" alt="Seta" />
              <a
                href="https://www.linkedin.com/mwlite/in/anacapdeville"
                target="_blank"
                rel="noopener noreferrer"
              >
                Ana Flávia
              </a>
            </div>
            <div class="modal-body">
              <img src="../../assets/img/arrow.svg" alt="Seta" />
              <a
                href="https://www.linkedin.com/in/daiane-cristina-schmitz-718764b3"
                target="_blank"
                rel="noopener noreferrer"
              >
                Daiane Cristina
              </a>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Fechar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
